
img {
  margin-left: -30px;
  width: 60px;
}

html {
  display: table;
  margin: auto;
  background-color: #F0F7D4;
}

.user-form {
  margin-top: 40%;
}

.request-button {
  background-color: #66B032; /* Green */
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

.centered-wrapper {
  display: flex;
  justify-content: space-around;
}

.bots {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.request-button:hover {
  background-color: #B2D732;
  color: black;
}

.matched-card {
  width: 50px;
}

.selected {
  border: 2px solid #e8e40d;
  border-radius:7px;
  margin-bottom: 10px;
  max-width: inherit;
}

.bot-div {
  padding: 10px 10px 10px 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  max-width: 100rem;
}

.player-div {
  text-align: center;
  max-width: 50rem;
}

.game-log {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 5%;
  border-radius: 15px;
  border: 4px solid #66B032;
  background-color: #B2D732;
  padding: 5px 5px 10px 10px;
}
