.App {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.request-button {
  background-color: #4CAF50; /* Green */
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

.centered-wrapper {
  display: flex;
  justify-content: space-around;
}

.bots {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.request-button:hover {
  background-color: white;
  color: black;
}

.matched-card {
  width: 50px;
}

.selected {
  border: 2px solid #e8e40d;
  border-radius:7px;
  margin-bottom: 10px;
  max-width: inherit;
}

.bot-div {
  padding: 10px 10px 10px 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  max-width: 100rem;
}

.player-div {
  text-align: center;
  max-width: 50rem;
}

.game-log {
  text-align: left;
  display: inline-block;
  position: fixed;
  left: 10px;
  bottom: 25%;
  border-radius: 15px;
  border: 4px solid #467edb;
  background-color: #8bade5;
  padding: 5px 5px 10px 10px;
}

img {
  margin-left: -30px;
  width: 60px;
}

html {
    display: table;
    margin: auto;
}
